*{
    margin:0;
    padding: 0;
}
body{
    display:flex;
    justify-content:center;
    align-items: center;
    min-height: 100vh;
    background-image: url('https://images.pexels.com/photos/730564/pexels-photo-730564.jpeg?cs=srgb&dl=pexels-davidmcbee-730564.jpg&fm=jpg');
    background-size: cover;
   
}
.container{
    background-color: rgb(229, 227, 211);
    padding: 2rem;
    border-radius: 1rem;
    width: 70vh;
    min-height: 45vh;
}
form{
    margin: 2rem 0 1rem 0;
}
form select,button,input{
    width: 100%;
    border: none;
    outline: none;
    border-radius: 1rem;

}
form input{
    border: 1px solid grey;
    font-size: 1rem;
    height: 3rem;
    padding-left:0.6rem;
}
form button{
    height: 3rem;
    background-color:rgb(252, 144, 13);
    font-size: 1rem;
    color: white;
    cursor: pointer;
}
.dropdown{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 2rem;
}
.dropdown i{
    font-size: 1.5rem;
    margin-top: 1.5rem;
}
.select-container{
    display: flex;
    justify-content: center;
    align-items: center;
    width:7rem;
    border-radius: 0.5rem;
    border: 1px solid grey;
}
.select-container img{
    max-width: 2rem;
}
.select-container select{
    font-size: 1rem;
    width: auto;
}
.msg{
    margin:2rem 0 2rem 0;
}